body{
  background-color: #2b54a5;
}

header{
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 75px;
}

.choose{
  display: flex;
  align-items: center;
}

.arrow{
  width: 100px;
  transform: rotate(70deg);
}

.arrow_ar{
  width: 200px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.section_title{
  font-size: calc(30px + 6 * ((100vw - 320px) / 680));
}

.inputs{
  align-items: center;
  
}

.island{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 600px;
  border: 3px solid #114E60;
  border-radius: 15px;
  background: #F4EEE8;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  color: #F4EEE8;
  text-decoration: none;
  font-size: calc(30px + 6 * ((100vw - 320px) / 680));
}

.btnLogin-popup{
  width: 102px;
  height: 42px;
  border-radius: 15px;
  border: 2px solid #F4EEE8 ;
  color: #325288;
  font-size: 20px;
}


.input {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.line{
  width: 300px;
  border: none;
}

.island_img{
  width: 200px;
  height: 415px;
  border-radius: 20px;
}



.grid {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 1em;
  grid-template-columns: repeat(2, 200px);
  grid-template-rows: repeat(2, 200px);
} 

img{
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.islanda{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
  border: 3px solid #2b54a5;
  border-radius: 15px;
  background: #F4EEE8;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  row-gap: 20px;
}
.item{
  color: #2b54a5;
  font-size: 20px;
}

.c{
  display: flex;
  flex-direction: column;
}

.gum_sch{
  width: 65%;
  height: 100px;
  border-radius: 15px;
  border: 2px solid #114E60 ;
  display: flex;
  align-items: center;
  column-gap: 20%;
}



.b{
  display: block;
  color: #325288;
}

.school_img{
  height: 100px;
  border-radius:15px ;
  width: 140px;
}

.wrapper {
  margin-top: 600px;
  position: absolute;
  z-index: 99999;
  width: 30%;
  height: 640px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wrapper .form-box{
  width: 100%;
  padding: 40px;
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height:45px  ;
  background: #162938;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.form-box{
  font-size: 1.5em;
  color: #162938;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;

}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #162938;
  font-weight: 500;
  pointer-events: none;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
}

.input-box .icon{
  position: absolute;
  right: 8px;
  font-size: 0.8em;
  color: #162938;
  line-height: 57px;
}


.remember-forgot{
  font-size: calc(10px + 6 * ((100vw - 320px) / 680));
  color: #162938;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: #162938;
  margin-right: 3px;
}

.remember-forgot a {
  color: #162938;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 60px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.5em;
  color: #fff;
  font-weight: 500;
}

.login-register{
  font-size:.8em ;
  color: #162938;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: #162938;
  text-decoration: none;
  font-weight: 600;

}

.login-register p a:hover{
  text-decoration: underline;
}

.wrapper-box{
  display: none;
  justify-content: center;
  align-items: center;
}


h1{
   text-decoration: none;
    color:#2b54a5;
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
}
.num_gum{
    display: none;
    font-size: calc(6px + 6 * ((100vw - 320px) / 680));
    color:#114E60 ;
}

@media screen and (max-width: 1100px) {
  .grid{
    display: none;
  }
  .wrapper{
    width: 40%;
  }

  @media screen and (max-width: 800px){
    .wrapper{
      width: 60%;
    }
    .remember-forgot{
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
    p{
      font-size: calc(9px + 6 * ((100vw - 320px) / 680));
  
  }
  }

  @media screen and (max-width: 580px) {
    .island{
      width: 90%;
    }
    .line{
      width: 150px;
    }
    .arrow_ar{
      display: none;
    }
    .wrapper{
      width: 90%;
      flex-wrap: wrap;
    }
    .remember-forgot{
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }

    p{
      display: none
      ;
    }
  }
}
